.container {
display: flex;
flex-direction: row;
height: 400px;
width: 400px;
border: 1px solid;
gap: 10px;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}
.boxes {
border: 1px solid black;
width: 99px;
height: 99px;
text-align: center;
font-size: 30px;    
}
#box1 {background-color: green;
margin-right: auto;
}
#box2 {background-color: yellow;}
#box3 {background-color: pink;}
