<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SBA</title>
    <link rel="stylesheet" href="./navbar.css">
    <link rel="stylesheet" href="home.page.css">
</head>
<body>

  <ul>
   <select name="Home">
      <option value="Home">Home</option>
      <option value="Matrix">Matrix</option>
    <li style="float: left;"><a class="active" href="./home.page.html">
        Home
    </a></li>
   </select>
    <li><a class="Login" href="./login-page.html">
        Login
    </a></li>
    <li><a class="Register" href="./register_form.html">
        Register
    </a></li>
    <li><a class="About Me" href="./About-Me.html">
        About Me
    </a></li>
  </ul>  
  <h1>The SBA</h1>
  <h3>Designed By:<em>Christon Deon Sturdivant    
  </em></h3>
  <div>
    <img src="./img/tablepic.webp" alt="graphpic">
    <aside>
        <h3>I make them...</h3>
        <table>
            <caption>Practice Table</caption>
            <thead>
               <tr>
                  <th>Header1</th>
                  <th>Header2</th>
                  <th>Header3</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>col 1 cell 1</td>
                  <td>col 2 cell 2</td>
                  <td>col 3 cell 3</td>
               </tr>
               <tr>
                  <td>col 1 cell 1</td>
                  <td>col 2 cell 2</td>
                  <td>col 3 cell 3</td>
               </tr>
            </tbody>
            <tfoot>
               <tr>
                  <td>footer1</td>
                  <td>footer2</td>
                  <td>footer3</td>
               </tr>
            </tfoot>
         </table>
         
    </aside>
  </div>  
</body>
</html>