ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  background-color: #302f2f;
  transition-property: background-color;
    transition-duration: 1s;
}
ul:hover {
   background-color: aquamarine; 

}
li {
    float: right;
    border-right: 1px solid green;   
}
li:first-child {
    border-left: none;
}
li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
}
li a:hover:not(.active) {
    background-color: green;
}
.active {
    background-color: green
}
h1 {
    color: green;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
    text-align: center;
}
h3 {
    color: aquamarine;
}
html {
    background-color: #302f2f;
}